@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap)

$red: #943F42
$lightgrey: #DADADA
$darkgrey: #313131
    
*
    margin: 0
    font-family: 'Roboto Mono'

body
    background: $darkgrey
    display: flex
    align-items: center
    justify-content: center
    min-height: 100vh

#page
    display: grid
    grid-template-areas: 'logo details' 'links links'
    padding: 50px 20px 50px 20px
    gap: 50px 20px

    @media screen and (max-width: 768px)
        grid-template-areas: 'logo' 'details' 'links'
        gap: 20px
        text-align: center

        #details
            margin-bottom: 30px // Make gap between description and links the matching 50px

    #logo
        grid-area: logo

        img
            border-radius: 50%
            border: 3px solid $red
            width: 150px
    
    #details
        grid-area: details
        max-width: 350px
        margin-top: -15px
        display: flex
        justify-content: center
        flex-direction: column

        h1
            color: $lightgrey
            font-size: 40px

        p
            color: $lightgrey

            a
                color: $red
                text-decoration: none
                font-weight: bold

            #email
                color: $lightgrey
                display: block
                margin-top: 15px
                font-size: 0.8em
    
    #links
        grid-area: links
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        a
            text-decoration: none
            margin: 10px
            background: $lightgrey
            display: flex
            justify-content: center
            align-items: center
            width: 100%
            padding: 10px
            color: $darkgrey

            i
                margin-right: 10px
                font-size: 25px